<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>问卷调查</title>
    <link rel="stylesheet" type="text/css" href="../static/css/base.css">
    <link rel="stylesheet" type="text/css" href="../static/css/wjend.css">
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap-dialog.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap-theme.min.css">

</head>
<body>
<input type="hidden">
<input type="hidden">
<input type="hidden">
<input type="hidden">
<div class="wjContent clear">
    <div class="content">
        <div class="wjtitle mtop">
            <h1>调查问卷</h1>
        </div>
        <div class="wjhr mtop"></div>
    </div>

    <div>
        <table class="wjques mtop">
            <tr><th class="title">题目</th></tr>
            <tr>
                <td>
                    <textarea class="form-control"></textarea>
                </td>
                <td class="icheckbox_div">
                    <input class="form-control" />
                    <input />
                    <span></span>
                </td>
            </tr>
        </table>
        <div class="maxtop">
            <button class="btn btn-primary" onclick="sumbit()">提交</button>
        </div>
    </div>
</div>
<script src="../static/asset/js/jquery.min.js"></script>
<script src="../static/js/main.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
<script src="../static/js/bootstrap-dialog.min.js"></script>
<script src="../static/js/bootstrap-pagy.min.js"></script>
</body>
</html>